<body class="splash">
  <div class="ui container">
    <div class="ui huge header" id="huge-header">Explore <em>Dream</em> Discover</div>
    <p id="intro-blurb">First Holidays is your go-to destination for unique and authentic travel experiences. From trendy city neighborhoods to hidden gems off the beaten path, we'll help you discover the world in a new way. With our curated packages and personalized service, you'll get the insider's perspective and create lasting memories. Book your next adventure with First Holidays today</p>
  </div>
</body>
