// Place all the styles related to the chatbot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#chat-card{
  width: 100%;
  margin-top: 3rem;
}

.chat-window{
  height:40rem;
  overflow-y: auto;
}
#message-form{
  border: 1px solid #E8E8E8;
  border-radius: 5rem;
  padding-left: 1rem;
}

#chat-window{
  padding-top: 1.5rem;
}

#textarea {
  resize: none;
}

#divider{
  margin-bottom: 0;
  border: none;
}

#content-card{
  padding-bottom: 0;
  width:100%;
}

#left-chat{
  margin-right: 5rem;
  margin-bottom: 0.5rem;
  padding-bottom:0.5rem;
}

#right-chat{
  margin-left:5rem;
  margin-bottom: 0.5rem;
  padding-bottom:0.5rem;
}
#suggestions{
  margin-left:5rem;
  margin-bottom: 0.5rem;
  padding-bottom:0.5rem;
  width:60%;
}
#loading{
  margin-left:5rem;
  margin-bottom: 0.5rem;
  padding-bottom:0.5rem;
}

#chat-row{
  padding:0;
  height: fit-content;
}

#holiday-tile{
  margin-top:1rem
}

#location-card{
  margin:auto;
  width: 95%;
}
.spinner {
  margin: 1px auto;
  width: 50px;
  height: 10px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}