<div class="ui two column center aligned grid">
  <div class="column ui left aligned raised card" id="location-panel">
    <div class="container">
      <%=render @locations%>
    </div>
  </div>
</div>
