<div class="ui two column center aligned grid">
  <div class="column ui left aligned raised card" id="location-panel">
    <div class="center aligned header">
      <h1 class="ui header"><%=@location.hotel_name%></h1>
    </div>
    <div class="center aligned meta">
      <%= "#{@location.geodata[:city]}, #{@location.geodata[:country]}, #{@location.geodata[:continent]}"%>
    </div>
    <div class="center aligned meta">
      <%= "#{@location.traits[:activity].capitalize()}, #{@location.traits[:climate].capitalize()}, #{@location.traits[:location].capitalize()}"%>
    </div>
    <div class="description">
      <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
      <p>Many people also have their own barometers for what makes a cute dog.</p>
    </div>
    <div class="center aligned extra content">
      <p><%@location.star_rating.times do %>
          <i class="star icon"></i>
        <%end%></p>
      <br>
      <p>v pricey</p>
    </div>
  </div>
</div>
