<div class="ui two column center aligned grid">
  <div class="column ui left aligned raised card" id="location-panel">
    <div class="center aligned header">
      <h1 class="ui header"><%=@location.hotel_name%></h1>
    </div>
    <div class="center aligned meta">
      <%= "#{@location.geodata[:city]}, #{@location.geodata[:country]}, #{@location.geodata[:continent]}"%>
    </div>
    <div class="center aligned meta">
      <%= "#{@location.traits[:activity].capitalize()}, #{@location.traits[:climate].capitalize()}, #{@location.traits[:location].capitalize()}"%>
    </div>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, quibusdam quasi vero autem corrupti qui facere temporibus consequatur veniam ea sint asperiores laboriosam unde tenetur dolores dicta numquam modi libero minus eveniet expedita magni in. Ad, omnis. Enim, cum exercitationem.</p>
    </div>
    <div class="center aligned extra content">
      <p><%@location.star_rating.times do %>
          <i class="star icon"></i>
        <%end%></p>
      <br>
      <p><%="£#{@location.price_per_night} per night"%></p>
    </div>
  </div>
</div>
