<div class="centered column">
  <div class="ui card" id="location-card">
    <div class="content">
      <div class="center aligned header"><%=link_to object.hotel_name, "/locations/#{object.id}"%></div>
      <div class="center alignedmeta"><%= "#{object.geodata[:city]}, #{object.geodata[:country]}, #{object.geodata[:continent]}"%></div>
    </div>
    <div class="content">
      <div class="description">
      </div>
    </div>
    <div class="center aligned extra content">
      <%object.star_rating.times do %>
        <i class="star icon"></i>
      <%end%>
    </div>
  </div>
</div>
